@charset "UTF-8";
/* CSS Document */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: lightpink; 
}

::-webkit-scrollbar-thumb:hover {
  background: yellowgreen; 
}
body {
  overflow-y: scroll; 
}

#title{
    margin-left: 20%; 
    margin-bottom:5%;
    padding-left:5%;
    padding-top: 1%;
    background-color:aliceblue;
    border-bottom: 5px solid #6ee0e6;
    border-left: 5px solid yellowgreen;
    ;

    border-bottom-left-radius: 30px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

.p{
    padding-left: 5%;
   font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
.pagehead{
    background-color: beige;
    margin-left: 10%;
    border-radius: 10px;

}
#home{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#div1 {
background-color: lightpink;

}
.galleries{
    float: left;
    background-color:yellowgreen;
    width: 20%;
    margin-left: 3%;
    margin-top: 2%;
    transition: 500ms ease;
    border-radius: 10px;
}
.profile {
    background-color:#6ee0e6;
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 50px;
    margin-top: 2%;
    margin-right: 2%;
}
.g{
margin-left: 5%;
margin-top: 5%;
background-color: yellowgreen;

}


.menu {
    background-color: lightpink;
    float:left;
    height:100vh;
    width:50px;
    position:fixed;
    opacity: 0.75;
    transition: 200ms ease;
    border-radius: 25px;


   
} 

.nav{
  list-style:none;
padding:0px;
    Margin:0px;
display:flex;
    flex-direction: column;
    align-items:center;
    
}
.icon{
    width:100%
}

.navlink{
display:flex;
align-items:center;
height:5%;
text-decoration: none;
}
.navlink img{
    min-width: 20px;
    opacity: 1;
}
.text{
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    display:none;
    margin-left:0px;
    opacity: 1.0;
    }

.menu:hover{
     background-color: #FFB6C0;
    width:120px ;
}
.menu:hover .text{
display: block;


}
.c1 {
    float: left;
    background-color:yellowgreen;
    width: 88%;
    height: 50%;
    margin-left: 5%;
    
 
}
.c1 img{display: none}
.c1:hover.c1 img{
    display: block;    
    }
.coverimg{
display: none;
width: 100%;
height:auto;
float: none;
opacity: 0.5;
}
.galleries:hover .coverimg{
    display: block;
}
.iframe{
    width: 95%;
    height:800px;

        
}
#explore{
    text-align: right;
    margin-right: 60px;
}
.m{
margin-top: 3em;
}
#descript{

        background-color: beige;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-bottom: 1%;
    
    }
@media (min-width: 0px) and (max-width: 576px){
.galleries{
    float: left;
    background-color:yellowgreen;
    width: 44%;
    
    
}
    .c1 {
    float: left;
    background-color:yellowgreen;
    width: 88z%;
    height: 50%;
    margin-left: 10%;
        
    }

}
